<!-- <div class="nav">
    <div class="tags">Home
        <div class="line"></div>
    </div>
    <div class="tags">About
        <div class="line"></div>
    </div>
</div> -->
<div class="container">
        <div class="dp">
                <img src="../../assets/images/1.jpeg" alt="">
            </div>
            <div class="intro-wrapper">
                <h2>HARIHARAN</h2>
                <p>Software Developer, Chennai, India</p>
            </div>
            
            <div class="about">
                <h4>TL;DR</h4>
                <p>
                    During my college days, I was able to solve problems through code and I enjoyed doing it. That's how I got hooked to programming.
                    So as a guy who enjoys programming, I don't like to restrict myself to a particular programming language/framework,
                    but so far most of my work had to do with front-end development. So yeah! Javascript is my ultimate weapon.
                    I have worked with Ionic, Angular, TypeScript, Redux, Webpack, Jasmine, KARMA, Sass/Scss, Python and Php.
                </p>
                <p>
                    When I'm not programming, I spend my time on social media or I will be watching movies, tv shows, football, and cricket to
                    get my humor and creativity going.
                </p>
            </div>
            
            <div class="contact">
                <a href="https://twitter.com/hariharan_d3v" target="_blank" rel="no-opener no-follow no-referrer" (click)="sendEvent('twitter')">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="https://www.linkedin.com/in/hariharan-dev/" target="_blank" rel="no-opener no-follow no-referrer" (click)="sendEvent('linkedin')">
                    <i class="fa fa-linkedin-square"></i>
                </a>
                <a href="https://github.com/hariharan-dev" target="_blank" rel="no-opener no-follow no-referrer" (click)="sendEvent('github')">
                    <i class="fa fa-github"></i>
                </a>
                <a href="https://codepen.io/hariharan-dev/" target="_blank" rel="no-opener no-follow no-referrer" (click)="sendEvent('codepen')">
                    <i class="fa fa-codepen"></i>
                </a>
                <a href="mailto:hariharand96@gmail.com" rel="no-opener no-referrer no-follow" (click)="sendEvent('mail')">
                    <i class="fa fa-envelope"></i>
                </a>
            </div>
            <div class="created-by">
                <h6> Sculpted by
                    <span>Hariharan.</span>
                </h6>
            </div>
</div>